// ----------MIXINS----------
@mixin social-sprite($left, $right) {
  background-position: $left $right;
}

@mixin top-bottom-gradient {
  background: rgb(244,244,244); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(247,247,247,1) 4%, rgba(249,249,249,1) 8%, rgba(252,252,252,1) 12%, rgba(252,252,252,1) 50%, rgba(252,252,252,1) 88%, rgba(249,249,249,1) 92%, rgba(247,247,247,1) 96%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(247,247,247,1) 4%,rgba(249,249,249,1) 8%,rgba(252,252,252,1) 12%,rgba(252,252,252,1) 50%,rgba(252,252,252,1) 88%,rgba(249,249,249,1) 92%,rgba(247,247,247,1) 96%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(247,247,247,1) 4%,rgba(249,249,249,1) 8%,rgba(252,252,252,1) 12%,rgba(252,252,252,1) 50%,rgba(252,252,252,1) 88%,rgba(249,249,249,1) 92%,rgba(247,247,247,1) 96%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

@mixin splitter {
  background-image: -webkit-linear-gradient(left, #ffffff, #bfbfbf, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #bfbfbf, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #bfbfbf, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #bfbfbf, #ffffff); 
}

//@mixin ems($pixels, $context: $browser-context){
// font-size: #{$pixels/$context}em;
//}

// ----------VARIABLES----------

$browser-context: 16;

// ----------RESET----------
body {
  background: url("../img/background.png");
  background-repeat: repeat;
  font-family: arial;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

//----------WRAPPER----------
#wrapper {
  background-color: #fff;
  color: #000;
  font-family: 'Kreon',Arial,Verdana,sans-serif;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 960px;
}

// ---------- 1st NAVIGATION + LOGO + SEARCHBAR ---------- 
header {
  background-image: url("../img/logo.png");
  background-position: 50px 29px;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 97px;
}

.main-nav {
  display: block;
  clear: right;
  float: right;
  font-size: 16px;
  margin-right: 8px;
  margin-top: 25px;
  li {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 22px;
    a {
      color: #393939;
      text-decoration: none;
    }
    a.active-page {
      color: #437d8b;
    }
  }
}

.main-nav-index {
  text-transform: uppercase; 
}

#searchbar {
  clear: right;
  float: right;
  input {
    background-color: #fcfcfc;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    color: #a7a7a7;
    font-size: 0.7em;
    padding: 5px;
  }
}

#header-logo-title {
  clear: both;
  color: #437d8b;
  float: left;
  font-size: 0.6em;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 100px;
  text-transform: uppercase;
}

// ---------- HR SPLITTER HOME----------
#header-nav-splitter {
  border: 0;
  height: 3px; 
  margin: 0;
  @include splitter;
}

// ---------- 2nd NAVIGATION HOME ----------
#secondary-nav {
  background: url("../img/nav-background.png");
  height: 50px;
  width: 960px;
  li {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 22px;
    text-transform: uppercase;
    a {
      color: #393939;
      font-size: 15px;
      line-height: 50px;
      text-decoration: none;
    }
  }
}

// ----------CAROUSEL CONTAINER----------
#slider {
  height: 400px;
  margin-top: -20px;
}

// ---------- SMALL NAVIGATION !HOME ----------
.small-nav {
  color: #929292;
  height: 57px;
  line-height: 57px;
  padding-left: 50px;
  a{
    color: inherit;
  }
}

// ---------- TITLE ----------
#title {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin: 0px auto 20px;
  padding: 35px 0px 35px;
  text-align: center;
  width: 876px;
  h1 {
    font-size: 1.9em;
    font-weight: 100;
    padding: 0px;
  }
  .sub-title {
    color: #929292;
    font-size: 1.3em;
    font-weight: lighter;
  }
}
// ---------- TITLE !HOME ----------

.index-title {
  margin-top: 10px;
  @include top-bottom-gradient;
}

// ---------- 1st SECTION HOME ----------
section.three-boxes {
  background-color: #fff;
  height: 300px;
  margin: 0px 50px;
  ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    li {
      box-sizing: border-box;
      display: inline-block;
      font-size: 14px; 
      margin-left: 0px;
      margin-right: 65px;
      width: 240px;
      &:last-child {
        margin-right: 0px;
      }
      &:nth-child(2) {
        margin-right: 75px;
      }
    h3 {
      color: #1d1d1d;
      font-size: 18px;
      font-weight: normal;
      padding-bottom: 10px;
      padding-left: 5px;
      i {
        color: #FF4500;
      }
    }
    p {
      color: #929292;
      font-size: 1em;
      line-height: 1.5em;
      padding-left: 5px;
      padding-top: 20px;
    }
    }
    img {
      border-bottom: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      &:hover {
        border-bottom: 1px solid gold;
        border-right: 1px solid gold;
      }
    }
  }
}

// ---------- 2nd SECTION HOME ----------
#home-sub-section {
  display: flex;
  height: 200px;
  margin: 0px 50px;
  width: 860px;
  .left-subsection {
    box-sizing: border-box;
    position: relative;
    width: 25%;
    h4 {
      color: #1d1d1d;
      font-weight: .500;
      padding-left: 5px;
    }
    ul {
      padding-left: 20px;
      padding-top: 15px;
    }
    ul li {
      color: #929292;
      font-size: 0.9em;
      list-style-type: disc;
      padding-top: 3px;
    }
  }
  .right-subsection {
    box-sizing: border-box;
    position: relative;
    width: 75%;
    h4 {
      color: #1d1d1d;
      font-weight: .500;
      padding-left: 5px;
    }
    ul {
      padding-left: 50px;
      padding-top: 33px;
    }
    ul li {
      
      border-bottom: 1px solid #d5d5d5;
      border-right: 1px solid #d5d5d5;
      box-sizing: border-box;
      display: inline-block;
      height: 55px;
      font-size: 0.9em;
      list-style-type: none;
      margin-right: 18px;
      width: 55px;
    }
  }
}

.social {
  background: url("../img/social-sprite.png") no-repeat;
  display: inline-block;
  height: 55px;
  position: relative;
  width: 55px;
  &:hover .tooltiptext {
    visibility: visible;
  }
}

.tooltiptext {
  background-color: #e6e6e6;
  border-radius: 6px;
  bottom: 80%;
  color: #808080;
  height: 60px;
  left: 32%;
  margin-left: -60px;
  padding: 10px 10px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 160px;
  z-index: 1;
  &:after {
    border-color: #ffffff transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 44%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
  }
}
 
#social-facebook {
  @include social-sprite(-47px, -28px);
}
#social-rss {
  @include social-sprite(-107px, -28px);
}
#social-in {
  @include social-sprite(-168px, -28px);
}
#social-print {
  @include social-sprite(-230px, -28px);
}
#social-green {
  @include social-sprite(-291px, -28px);
}
#social-tube {
  @include social-sprite(-350px, -28px);
}
#social-twitt {
  @include social-sprite(-411px, -28px);
}

// ----------POSTS + ASIDE !HOME----------
.main-section {
  display: flex;
  margin: 0 50px;
  max-width: 860px;
}

.posts-boxes {
  width: 585px;
}

.single-post-box {
  box-sizing: border-box;
  margin-top: 20px;
  width: 585px;
  h2 {
    color: #1d1d1d;
  }
  .post-subtitle {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    color: #d0d0d0;
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-right: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    span {
      color: #929292;
    }
  }
  .post-wrapper {
    display: flex;
    width: inherit;
  }
  .post-image {
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    height: 200px;
    padding: 6px;
    width: 200px;
  }
  .post-content {
    box-sizing: border-box;
    color: #929292;
    padding-left: 25px;
    padding-right: 40px;
    width: 385px;
  }
  #stadium-info {
    border: 1px solid gray;
    border-radius: 5px;
    color: inherit;
    padding-left: 6px;
    width: 200px;
  }
}

.post-readmore {
  margin-top: 15px;
  margin-bottom: 45px;
  padding-right: 40px;
  text-align: right;
  a {
    color: #2c2c2c;
  }
}

.aside-boxes {
  box-sizing: border-box;
  padding: 10px 15px 20px 45px;
  width: 310px;
  h3 {
    color: #1d1d1d;
    margin-top: 20px;
  }
  ul li {
    color: #929292;
    font-size: 0.9em;
    list-style-position: inside;
    list-style-type: disc;
    padding-top: 10px;
  }
}

// ----------COMMENTS----------
.comments-title {
  color: #1d1d1d;
  margin-bottom: 22px;
  margin-top: 50px;
}

.normal-comment {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 30px;
  padding: 20px;
  position: relative; 
  width: 545px;
  @include top-bottom-gradient;
  .normal-comment-avatar {
    box-sizing: border-box;
    width: 68px;
    img {
      border: 1px solid #f0f0f0;
      padding: 6px;
    }
  }
  .normal-comment-text {
    box-sizing: border-box;
    padding-left: 20px;
    width: 437px;
    h4 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
    a {
      background-color: #fff;
      border-radius: 5px;
      color: #000;
      right: 0;
      float: right;
    }
  }

}

.smaller-comment {
  box-sizing: border-box;
  display: flex;
  height: 170px;
  margin-left: 85px;
  margin-top: 10px;
  padding: 20px;
  position: relative; 
  width: 460px;
  @include top-bottom-gradient;
  .smaller-comment-avatar {
    box-sizing: border-box;
    width: 68px;
    img {
      border: 1px solid #f0f0f0;
      padding: 6px;
    }
  }
  .smaller-comment-text {
    box-sizing: border-box;
    padding-left: 20px;
    width: 372px;
    h4 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
    a {
      background-color: #fff;
      border-radius: 5px;
      color: #000;
      right: 0;
      float: right;
    }
  }
}

.comment-tip {
    background: transparent;
    border: 10px solid #f9f9f9;
    border-bottom-color: transparent;
    border-left-color: transparent;
    bottom: -20px;
    height: 0px;
    position: absolute;
    right: 45px;
    width: 0px;
  }


.reply {
  box-sizing: border-box;
  margin-right: 50px;
  width: 545px;
  input {
    border: none;
    border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    display: block;
    line-height: 3.3em;
    padding-left: 20px;
    width: 50%;
    @include top-bottom-gradient;
  }
  textarea {
    border: 1px solid #f0f0f0;
    display: block;
    line-height: 1.8em;
    padding-left: 20px;
    width: inherit;
    @include top-bottom-gradient;
  }
}

// ----------- FOOTER -----------
footer {
  background-color: #f2f2f2;
  background-image:url("../img/logo.png");
  background-position: 50px 20px;
  background-repeat:no-repeat;
  border-top: 1px solid #d9d9d9;
  color: #8c8c8c;
  font-size: 0;
  height: 280px;
  padding: 20px 50px 0px;
}

.footer-box {
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  margin: 0;
  padding-right: 30px;
  vertical-align:top;
  width: 25%;
  
  &:last-child {
    padding-right: 0px;
  }
  .footer-box-heading {
    color: #000;
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }
  #footer-logo-title {
    color: #66929c;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 50px;
  }
  .copyright {
    font-weight: bold;
    margin-top: 10px;
  }
  ul {
    padding-left: 20px;
    padding-top: 15px;
  }
  ul li {
    list-style-type: disc;
  }
  .text-widget-text {
    margin-top: 15px;
  }
}

// ----------- CAROUSEL -----------

.container {
  height: 330px;
  margin-top: 20px;
  width: 960px;
}

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner img {
  max-height: 330px;
  width: 960px;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
	background-repeat: no-repeat;
  filter: alpha(opacity=100);
	opacity: 1;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
  display: inline-block;
	position: absolute;
	top: 45%;
	z-index: 5;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  color: #000;
	left: -5px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  color: #000;
	right: -5px;
}

.carousel-control.left span,
.carousel-control.right span {
  background-color: #fff;
  box-shadow: 0 5px 2px -2px gray;
  color: #606060;
  padding: 0px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  filter: alpha(opacity=70);
	opacity: .7;
}

/* Carousel Header Styles */
.header-text {
  color: #fff;
  height: 215px;
  left: 50%;
  position: absolute;
  top: 15%;
  width: 415px;
}

.header-text h2 {
  font-size: 1.8em;
}

.header-text h2 div {
  background-color: rgba(0,0,0,0.6);
  color: white;
  height: 215px;
	padding: 40px;
  width: 415px;
  p {
    color: #9b9b9b;
    font-size: 0.6em;
  }
  a {
    background-color: rgba(0,0,0,0.7);
    bottom: 20px;
    color: #7b9297;
    height: 50px;
    font-size: 0.6em;
    padding: 18px;
    position: absolute;
    right:-15px;
    width: 105px;
  }
}

.btn-min-block {
  line-height: 26px;
  min-width: 170px;
}

.btn-theme {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.carousel-indicators {
  bottom: -45px;
}

.carousel-indicators li {
  background-color: #dfdfdf;
  border: 2px solid #dfdfdf;
}

.carousel-indicators li.active {
  background-color: #000000;
}
